
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px; /* 원하는 최대 너비를 설정 */
    margin: 0 auto;
    padding: 15px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* 뒤로가기 버튼 */
/* 다른 식당 선택 버튼 */
.back-button, .another-restaurant {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 15px;
    /* transition: background-color 0.3s ease; */
}

.back-button:hover, .another-restaurant:hover {
    background-color: #666; /* 호버 시 조금 더 밝은 색상 */
}

/* 숨겨진 상태 */
/* 레스토랑 목록 항상 보이게 하기 */
.restaurant-list {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-top: 10px;
    max-width: 300px;
}

.restaurant-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.restaurant-list li {
    margin-bottom: 15px;
}

.restaurant-list li a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    display: block;
    border-radius: 4px;
    font-size: 16px;
}

.restaurant-list li a:hover {
    background-color: #ddd;
    color: #000;
}

/* 변경 버튼 */

.change-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a09d9d;
    color: #181717;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 20px;
    cursor: pointer;
}

/* 전체 레이아웃 그리드 */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* 좌측 1열, 우측 2열 비율 */
    grid-template-rows: auto 1fr; /* 상단 자동, 하단 균등하게 */
    gap: 15px;
    padding: 15px;
}

/* 그리드 아이템 기본 스타일 */
.grid-item {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.2s ease;
}


.grid-item:hover { 
    transform: translateY(-3px); /*호버 시 살짝 위로 이동하는 효과*/
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /*호버 시 그림자 효과를 살짝 강화*/
}

/* 반응형 레이아웃 */
@media (max-width: 1200px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr); /* 1200px 이하일 때는 3개 컬럼 */
    }
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* 992px 이하일 때는 2개 컬럼 */
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; /* 768px 이하일 때는 1개 컬럼 */
    }
}


/* chef 정보  */

.chef-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.chef-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
}

/* .chef-card:hover {
    transform: translateY(-5px);
} */

.chef-card img {
    width: 275.52px;
    height: 358.758px;
    object-fit: cover;
}

.chef-card-content {
    padding: 15px;
    text-align: center;
}

.chef-card h2 {
    margin: 0 0 10px;
    font-size: 1.2rem;
}

.chef-card p {
    margin: 0;
    font-size: 0.9rem;
    color: #666;
}

@media (max-width: 1200px) {
    .chef-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 992px) {
    .chef-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .chef-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .chef-grid {
        grid-template-columns: 1fr;
    }
}

/* 여기서 부터 2페이지 */

/* 쉐프 정보 카드 */
.chef-detail {
    grid-column: 1 / 2; /* 첫 번째 열 */
    grid-row: 1 / 4; /* 상하단 모두 차지 */
    background-color: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.chef-detail img {
    width: 200px;
    height: 250px;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* barplot 표현하기 */

.barplot-container {
    grid-column: 2 / 4; /* 두 번째 열 */
    grid-row: 1 / 2; /* 두 번째 행 */
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.bar-plot-menu img {
    width: 100%;
    max-width: 750px;
    height: auto;
}

.bar-plot-price img {
    width: 100%;
    max-width: 750px;
    height: auto;
}

/* 반응형 레이아웃 */
@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .chef-detail {
        grid-row: 1 / 2;
    }

    .bar-plot {
        grid-row: 2 / 3;
    }

    .wordcloud-container {
        grid-row: 3 / 4;
        flex-direction: column;
    }

    .wordcloud-goodreview-container,
    .wordcloud-badreview-container {
        margin-top: 20px;
    }
}

/* 워드클라우드 컨테이너 */
.wordcloud-container {
    grid-column: 2 / 4; /* 두 번째 열 */
    grid-row: 2 / 3; /* 두 번째 행 */
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

/* 두 워드클라우드의 공통 스타일 */
.wordcloud-goodreview-container, 
.wordcloud-badreview-container {
    background-color: #fff;
    flex: 1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 5px;
}

.wordcloud-goodreview-container img, 
.wordcloud-badreview-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.controller{
    display: inline-block;
}

.hidden {
    display: none; /* 숨기는 클래스 */
}